@import 'reset.css';

.logo {
  width: 50rem;
  margin-bottom: 5rem;
}

.login-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/img/bg-login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hide {
  display: none;
  height: 0;
}

.input {
  width: 30rem;
  margin-top: 2rem;
  height: 2rem;
}

.inputfield {
  height: 3rem;
  padding-bottom: 0.7rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  border-bottom: 0.4rem solid #4a00e0;
  &::placeholder {
    color: white;
    opacity: 0.6;
  }

  &:focus {
    outline: 0;
  }
}

.login-buttons {
  display: flex;
  flex-flow: column;
  margin-top: 2rem;
}

.btn {
  background: linear-gradient(to left, #8e2de2, #4a00e0);
  color: white;
  height: 4rem;
  /* padding: 1rem; */
  font-size: 1.6rem;
  border: none;
  border-radius: 2rem;
  font-weight: bold;
}


.btn:hover {
  box-shadow: 5px 5px 5px rgba(14, 14, 14, 0.2);
  cursor: pointer;
}

.leftBtn, .rightBtn {
  width: 4rem;
}

.leftBtn {
  transform: rotate(180deg);

}

.facebook {
  z-index: 1;
}

.facebook::before {
  content: '';
  position: absolute;
  background-image: url('../assets/img/fb-logo.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin-left: -3.5rem;
}

.signedin {
  background-color: #1c1c1e;
}

.welcome {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.inlog-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.welcome {
  margin-left: 2rem;
}

.logout {
  width: 10rem;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.add-band-container {
  height: 30rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  align-items: baseline;
  justify-content: center;
  align-content: center;
}

.band {
  width: 30rem;
  margin-left: 2rem;
}

.location {
  margin-left: 3rem;
  width: 30rem;
}

.calender {
  margin-left: 3rem;
  width: 30rem;
  font-family: helvetica;
  height: 3rem;
  font-size: 1.8rem;
  border: none;
  border-bottom: 0.4rem solid #4a00e0;
  color: white;
  background-color: transparent;
}

.upload-btn-wrapper {
  margin-left: 3rem;
}

.btn-img {
  background: none;
  border: 0.4rem solid #4a00e0;
}

.band-button {
  margin-left: 3rem;
}

.add-band-title {
  color: white;
  font-size: 3rem;
  font-family: helvetica;
  font-weight: bold;
  margin-bottom: 5rem;
}

.canvas {
  position: inherit;
  display: flex;
  flex-direction: column-reverse;
}

.threeControls {
  display:flex;
  justify-content: space-around;
}

.wave-container {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 4rem;
  padding-bottom: 4rem;
}

.wave-form {
  margin-left: 5rem;
}

.concert-detail {
  background-color: white;
  border-left: 10rem solid #1c1c1e;
  border-right: 10rem solid #1c1c1e;
}

.detail-band-name {
  color: #1c1c1e;
  font-family: helvetica;
  font-weight: bold;
  font-size: 3rem;
  text-transform: capitalize;
  margin-left: 2rem;
  padding-top: 4rem;
}

.img-selected {
  width: 40rem;
  clip-path: rect(10px, 20px, 30px, 40px);
}

.concert-date {
  color: #1c1c1e;
  font-family: helvetica;
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.progressbar {
  background-color: aliceblue;
  appearance: none;
  border: 0.1rem solid white;
  border-radius: 3rem;
  width: 20rem;
  position: fixed;
}

.play-pause {
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  margin: 0 auto;
  margin-top: 2rem;
}

.formval-email {
  color: white;
  font-size: 1.2rem;
}

.formval-password {
  color: white;
  font-size: 1.2rem;
  margin-top: 2rem;
}
